.invooraad {
  color: var(--invoorraad);
  border: solid var(--invoorraad) .2rem;
}

.nietvoorraad {
  color: var(--button);
  border: solid var(--button) .2rem;
}

.invooraad, .nietvoorraad {
  padding: .4rem;
  width: max-content;
  font-size: var(--tekst);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.details__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.details__title, .extra__producten__title {
  background-color: var(--button);
  color: white;
  font-family: var(--titelfont);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: var(--grotetekst);
  text-transform: uppercase;
  margin: 2rem 0;
}

.details__img {
  border: solid black .2rem;
}

.details__container {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.details__toggles {
  display: flex;
  justify-content: space-around;
  font-size: var(--tekst);
  width: 25rem;
}

.details__toggle {
  color: black;
  padding: .5rem 1rem;
  font-family: var(--tekstfont);
  border: solid black .1rem;

  &:hover {
    background-color: var(--blauw);
    border: var(--blauw) solid .1rem;
    color: white;
  }
}

.details__toggle--active {
  background-color: var(--blauw);
  border: var(--blauw) solid .1rem;
  color: white;
  font-weight: bold;
}

.details__price {
  font-weight: bold;
  text-align: center;
  font-size: var(--titel);
  margin: 2rem 0;
}

.details__categorie {
  font-size: var(--grotetekst);
}

.details__tekst {
  width: 25rem;
  font-size: var(--tekst);
  margin: 2rem 0;
}

.details__buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 1rem;
  font-size: var(--grotetekst);
}

.details__button--geel {
  display: block;
  background-color: var(--geel);
  color: black;
  margin-bottom: 1rem;
  padding: .5rem;
}

.details__button--rood {
  display: block;
  background-color: var(--button);
  color: white;
  margin-bottom: 1rem;
  padding: .5rem;
}

.details__button--margin {
  margin-top: 2rem;
}

.rand__carbutton {
  justify-content: flex-start;
}

.details__carbutton {
  padding: .8rem 1rem;
}

/*
  media querys
*/

@media only screen and (min-width: 700px) {

  .details__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    max-width: 104rem;
  }

  .details__buttons {
    flex-flow: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .details__button--rood {
    margin-right: 1rem;
    font-size: 1.2rem;
  }

  .details__button--margin {
    margin-top: 0;
  }

  .details__toggles {
    align-self: flex-start;
  }

  .details {
    align-items: baseline;
    width: 55rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .extra__producten__wrapper {
    margin-bottom: 5rem;
  }

  .details__title, .extra__producten__title {
    width: max-content;
    padding: 1rem 1.5rem;
  }

  .extra__producten__title {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .details__price {
    text-align: initial;
  }
}

@media only screen and (min-width: 900px) {

  .details {
    width: 104rem;
    align-items: center;
  }

  .details__title {
    align-self: baseline;
  }

  .details__button--rood {
    font-size: 2rem;
  }
}
