.betaalform__stappen {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-around;
}

.betaalform__stappen--stap {
  border: solid .1rem black;
  padding: .5rem 1rem;
  font-weight: var(--fontWeightBold);
  font-size: 1.3rem;
}

.stap--active {
  background-color: var(--blauw);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: .7rem 1.5rem;
}

.betaalform__title {
  text-align: center;
  margin: 3rem 0;
  font-size: var(--grotetitels);
  font-family: var(--titelfont);
}

.betaalform__inputwrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3rem;
}

.betaalform__input {
  display: flex;
  flex-flow: column;
  padding-bottom: 2rem;
  font-size: var(--grotetekst);

}

.betaalform__input--tekst {
  width: 28rem;
  height: 3rem;
  border: .1rem solid black;
}

.betaalform__totaal {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 2rem;
}

.car__totaal__titel {
  font-size: var(--grotetekst);
  margin: 1rem 0;
  font-family: var(--titelfont);
}

.car__totaal--email {
  border-bottom: .2rem solid black;
  padding-bottom: 1rem;
}

.betaalform__container {
  max-width: 77.4rem;
  margin: 0 auto;
}

.betaalform__toggle {
  font-size: var(--grotetekst);
  font-family: var(--tekstfont);
  display: flex;
  width: 30rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.bevestig__danku--wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.bevestig__danku {
  font-size: 2.5rem;
  font-family: var(--tekstfont);
  text-align: center;
  width: 30rem;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.bevestig__traking {
  font-size: 1.5rem;
  font-family: var(--tekstfont);
  text-align: center;

  & span {
    color: blue;
    text-decoration: underline;
    font-size: 1.8rem;
  }
}

.bevestig__items {
  margin: 4rem 0;
  text-align: center;

  &:last-child {
    border-top: none;
  }
}

.bevestig__item {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  border-top: dotted black .2rem;
  border-bottom: dotted black .2rem;
  font-size: var(--titel);
  align-items: center;

  &:last-child {
    border-top: none;
  }
}

.bevestig__foto {
  display: none;
}

.bevestig__totaal {
  font-size: var(--titel);
  font-weight: var(--fontWeightBold);
  font-family: var(--tekstfont);
  margin-top: 4rem;
}

.bevestig__form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.bevestig__knop {
  background-color: var(--button);
  color: white;
}

@media only screen and (min-width: 800px) {

  .betaal__metode__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .betaalform__stappen--stap {
    font-size: 2.3rem;
  }

  .betaalform__inputwrapper--toggle {
    align-items: flex-start;
    margin-left: 5rem;
  }

  .bevestig__foto {
    display: block;
  }

  .bevestig__danku {
    width: 41rem;
  }
}
