/*
  mobiel versie
*/

.session__error,
.session__info {
  text-align: center;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 4s linear;
}

.session__error {
  background-color: lightsalmon;
}

.session__info {
  background-color: lightgreen;
}

.nav--mobiel {
  font-size: 32px;
  position: relative;
  border-bottom: .2rem solid black;
  margin: 0 1rem;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: black;
  }
}

.nav__deel1 {
  display: flex;
  align-items: center;
}

.hamburger__menu {
  border-right: .1rem dotted;
  padding-right: .4rem;
}

.logo {
  background-color: var(--button);
  color: white;
  padding: .3rem .3rem 0;
  border: solid white .2rem;
  z-index: 1000;
  font-family: var(--extra);
  font-weight: var(--fontWeightBlack);
}

.car__link {
  font-size: var(--footer);
  color: black;
}

.car__rood {
  color: var(--button);
}

.menu {
  padding: 0 2rem 0 1rem;
  display: none;

  &:checked {
    display: block;
  }
}

.item__link {
  color: black;
  text-transform: uppercase;
  font-family: var(--extra);
  font-weight: var(--fontWeightAlt);
  font-size: var(--tekst);
  display: block;
  padding: .5rem 0;

  &:hover {
    color: white;
  }
}

.menu__item {
  border-bottom: .1rem dotted;
  margin-left: 1rem;

  &:last-child {
    border: none;
    background-color: #d4c7e3;
  }

  &:hover {
    background-color: red;
  }
}

.menu__item--yellow {
  background-color: yellow;
}

.menu__item--red {
  background-color: red;

  & .item__link {
    color: white;
  }
}

.toggle {
  display: none;

  &:checked + .menu {
    display: block;
    position: fixed;
    background: white;
    width: 100%;
    top: 4.2rem;
    left: 0;
    padding: 0;
    height: 100%;
  }
}

/*
  pc versie
*/

.header__deel1 {
  display: flex;
  justify-content: space-between;
  max-width: 104rem;
  margin: 0 auto;
}

.header__deel1_items {
  display: flex;
  align-items: center;
}

.header__deel1_item {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.header__deel1_item--link {
  color: black;
  text-transform: uppercase;
  font-family: var(--extra);
  font-weight: var(--fontWeightBold);
  font-size: 11px;
}

.video--red {
  background: var(--button);
  padding: .5rem 1rem;
  color: white;
  display: block;
}

.header__deel2__container {
  background: var(--background);
}

.header__deel2 {
  display: flex;
  justify-content: space-around;
  max-width: 104rem;
  margin: 0 auto;
}

.header__deel2_items {
  display: flex;
  font-size: var(--tekst);
  font-weight: var(--fontWeightBold);
  font-family: var(--extra);
  text-transform: uppercase;
  align-items: center;
}

.header__deel2_item {
  margin-right: 1.5rem;
}

.header__deel2_item--link {
  color: black;
}

.nav__deel2__item {
  margin-right: 0;
}

.active--link {
  color: #ee090c;
}

/*
  media querys
*/

@media only screen and (max-width: 768px) {

  .nav--mobiel {
    display: flex;
  }

  .nav--pc {
    display: none;
  }
}

@media only screen and (min-width: 769px) {

  .nav--mobiel {
    display: none;
  }

  .nav--pc {
    display: block;
  }
}

@media only screen and (min-width: 900px) {

  .header__deel2_items {
    font-size: var(--grotetekst);
  }
}

@media only screen and (min-width: 1000px) {

  .header__deel2_item {

    margin-right: 2.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
