.LR__body {
  background-color: var(--lrBackground);
}

.LR__hotspot {
  background-color: white;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  font-size: 4rem;
  font-weight: bold;
  flex-flow: column;
  cursor: pointer;
  margin-left: .6rem;

  &:hover {
    transition: 1s;
    transform: rotate(180deg);
    transform-origin: center;
  }
}

.LR__rotate {

  &:hover {
    transform: rotate(180deg);
  }

}

.LR__tekst {
  color: var(--lrWhite);
  font-size: var(--lrSmall);
  font-family: var(--lrTekst);
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

.LR__title {
  color: var(--lrWhite);
  font-size: var(--lrMedium);
  font-family: var(--lrTitle);
  padding: 0 3rem;
  line-height: 1.3;
}

.LR__intro__title {
  margin-bottom: 2rem;
}

.LR__header {
  position: relative;
}

.scroll__indicator {
  display: none;
}

.LR__header__link {
  font-size: var(--lrXSmall);
  border: solid var(--lrWhite) .1rem;
  padding: .7rem 1rem;
  margin-right: 1rem;

  &:hover {
    background-color: var(--lrWhite);
    color: var(--lrBackground);
  }
}

.LR__intro,
.LR__chapter1 {
  align-items: center;
}

.LR__intro,
.LR__chapter1,
.LR__vuur {
  display: flex;
  flex-flow: column;
}

.LR__intro__quote--wrapper {
  width: 25rem;
  padding: 2rem 0;
  border-top: solid .3rem var(--lrWhite);
  border-bottom: solid .3rem var(--lrWhite);
}

.LR__intro__quote {
  display: block;
  font-weight: medium;
  padding: 0 3rem;
  text-align: center;
  margin: 0 auto;
  font-family: serif;
}

.LR__intro--deel2,
.LR__waarom__kooptitle--wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.LR__intro--deel1, .LR__intro--deel2, .LR__intro {
  margin-top: 3rem;
}

.LR__intro--deel1 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.LR__intro__img {
  cursor: pointer;
}

.LR__title__chapter1,
.LR__chapter2__title,
.LR__vuur__title,
.LR__humoboeken__title,
.LR__keuzen__title,
.LR__keuzen {
  margin: 5rem 0 2rem;
}

.LR__chapter1__deel2,
.LR__chapter2__deel2 {
  margin: 5rem;
}

.LR__chapter1 {
  margin-bottom: 6rem;
}

.LR__materiaal__model {
  width: 25rem;
}

.LR__materiaal__wrapper__foto {
  width: 10rem;
  padding-left: 2rem;
}

.LR__materiaal__wrapper {
  display: flex;
  align-items: center;
  width: 33rem;
  justify-content: space-between;
  margin: 3rem 0;
  padding: 1rem 0;
  background-color: #003351;
  height: 10rem;
}

.LR__materiaal__neemmee__actief,
.LR__materiaal__neemmee,
.LR__materiaal__neemmee__check {
  color: white;
  font-size: 2rem;
  display: block;
}

.LR__materiaal__neemmee__actief {
  background: #007ac2;
  padding: 4rem 2.3rem;
  cursor: pointer;
}

.LR__materiaal__neemmee__actief:hover {
  color: #007ac2;
  background: white;
}

.LR__materiaal__neemmee__check {
  background: green;
  padding: 4rem 2.3rem;
}

.LR__materiaal__neemmee {
  border: white solid;
  padding: 3.6rem 2rem;
}

.LR__vuur {
  background-image: url(../assets/longread/vuur.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.LR__vuur__boekenreeks {
  overflow-y: hidden;
}

.LR__vuur__list {
  display: flex;
  align-items: flex-end;
  padding-left: 115rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 250rem;
}

.LR__vuur__list__item {
  margin-left: 3rem;
}

.LR__vuur__shop {
  text-decoration: none;
  display: block;
  margin-top: 4rem;
  font-size: 3rem;
  border: .5rem white solid;
  padding: 1rem 4rem;
  line-height: 1;
  font-family: var(--lrTitle);
  font-weight: bold;
  color: white;
}

.LR__vuur__shop:hover {
  color: #007ac2;
  background-color: white;
}

.LR__keuzen__wrapper {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  text-align: center;
}

.LR__keuzen__link {
  margin-bottom: 2rem;
  color: white;
  font-size: 2rem;
  display: block;
  border: .3rem solid white;
  border-radius: 3rem;
  padding: 1.5rem;
  font-family: var(--lrTitle);
}

.LR__keuzen__link:hover {
  color: #007ac2;
  background-color: white;
}

.LR__keuzen__humo {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 8rem 0 2rem;
}

.LR__footer {
  background-color: var(--lrFooter);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.LR__footer__img--wrapper {
  margin: 3rem 0;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.LR__footer__sponser {
  color: var(--lrWhite);
  font-size: var(--lrSmall);
  font-weight: bold;
}

.LR__footer__madeby {
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
}

.LR__footer__madeby__span {
  color: #e12121;
}

.LR__footer__madeby__span:hover {
  color: #007ac2;
}

.LR__footer__copy {
  color: var(--lrWhite);
  font-size: var(--lrXSmall);
  font-family: var(--lrTitle);
  margin: 2rem 0 3rem;
  font-weight: bold;
}

.LR__weetje1,
.LR__weetje2 {
  background: #1d3a4b;
  z-index: 2;
  position: absolute;
  width: 100vw;
  padding-bottom: 2rem;
  left: 0;
  color: white;
}

.LR__weetje1-X,
.LR__weetje2-X {
  font-size: 2rem;
  padding: 1rem;
  border: solid;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  cursor: pointer;
}

.LR__weetje__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.LR__weetje__tekst-wrapper {
  margin: 2rem 4rem 0;
}

.LR__weetje__title {
  font-size: var(--lrMedium);
}

.LR__weetje__tekst {
  font-size: var(--lrSmall);
  line-height: 1.3;
  margin-top: 2rem;
}

.weetje__klikme {
  font-size: 2rem;
  color: white;
  margin-top: .5rem;
}

.LR__extra__text {
  margin: 5rem 0;
}

.LR__extra__link {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 650px) {

  .LR__intro--deel2 {
    flex-flow: row;
    margin: 4rem 0;
  }

  .LR__intro__quote--wrapper {
    width: 25rem;
  }

  .intro__tekst__wrapper {
    width: 37rem;
  }

  .LR__intro__tekst2 {
    margin: 0;
    padding: 0;
  }

  .LR__intro--deel1 {
    width: 53rem;
    margin-bottom: 2rem;
  }

  .LR__tekst__space {
    margin-bottom: 0;
  }

  .LR__materiaal__wrapper {
    width: 43rem;
  }

  .LR__vuur__title {
    margin-top: 20rem;
  }

  .LR__chap1__article__text,
  .LR__chap2__article__text,
  .LR__vuur__article__text {
    width: 80%;
  }

  .LR__vuur__article__text {
    margin: 0 auto;
  }

  .LR__humoboeken__tekst {
    width: 70%;
    text-align: center;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 950px) {

  .LR__intro--deel1 {
    flex-flow: row-reverse;
    justify-content: center;
    width: 80rem;
    margin-bottom: 8rem;

    & .LR__intro__tekst {
      margin-bottom: 0;
      width: 49rem;
    }
  }

  .LR__weetje__tekst-wrapper {
    width: 55rem;
  }

  .LR__weetje__container {
    flex-flow: row;
    justify-content: space-around;
  }

  .LR__weetje__foto {
    margin-left: 2rem;
  }

  .LR__materiaal__container {
    display: flex;
    margin-top: 3rem;
  }

  .LR__materiaal__wrapper {
    width: 20rem;
    display: flex;
    flex-flow: column;
    margin: 2rem;
    height: 20rem;
  }

  .LR__materiaal__wrapper__foto {
    padding-left: 0;
  }

  .LR__materiaal__vest {
    width: 18rem;
  }

  .LR__materiaal__neemmee__actief,
  .LR__materiaal__neemmee__check {
    padding: 1rem 2.3rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }

  .LR__materiaal__neemmee {
    padding: .8rem 2rem;
    border-radius: 3rem;
    margin-bottom: 2rem;
  }

  .LR__vuur__boeken__container {
    margin-top: 10rem;
  }

  .LR__vuur__boeken__shop {
    margin-bottom: 25rem;
  }

  .LR__title__chapter1 {
    width: 40rem;
    margin-top: 12rem;
  }

  .LR__chapter2__title {
    width: 24rem;
  }

  .LR__keuzen__wrapper {
    flex-flow: row;
    justify-content: space-between;
    width: 60rem;
    margin-top: 2rem;
  }

  .LR__keuzen__link {
    width: 29rem;
  }

  .LR__vuur__list__item__boek {
    width: 13rem;
  }

  .LR__extra__text {
    width: 67%;
  }

  .LR__vuur__list {
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    padding-left: 0;
    width: auto;
  }

  .scroll__indicator {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 88%;
    left: 50%;
    background-color: white;
    padding: 1rem 1.7rem;
    border-radius: 4rem;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    display: inline;
  }

  @-webkit-keyframes mover {

    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes mover {

    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-10px);
    }
  }
}

@media only screen and (min-width: 1150px) {

  .LR__chap1__article__text,
  .LR__chap2__article__text,
  .LR__vuur__article__text {
    width: 60%;
  }

  .LR__tekst {
    font-size: 2.4rem;
  }

  .intro__tekst__wrapper {
    width: 27rem;
    margin-right: 12rem;
  }

  .LR__weetje__tekst {
    font-size: 2.4rem;
  }

  .LR__materiaal__model {
    width: auto;
  }
}
