.promo {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f8f8f4;
  margin-top: 3rem;
}

.promo__title {
  background-color: #ee090c;
  font-size: 20px;
  font-family: var(--fontTitle);
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 0 .5rem;
  text-align: center;
}

.promo__boek__title {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  width: 9rem;
}

.promo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.promo__info__price {
  font-weight: var(--fontWeightAlt);
}

.promo__info__slogan {
  font-size: 12px;
}

.promo__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12rem;
}

.promo__carbutton {
  display: flex;
  align-items: center;
  font-weight: var(--fontWeightAlt);
  text-decoration: none;
  padding: .4rem 1rem;
  background-color: #ffe408;
  color: black;
}

.promo__moreinfo {
  text-decoration: none;
  color: white;
  font-weight: var(--fontWeightAlt);
  padding: .5rem 1rem .3rem;
  background-color: #ee090c;
  text-transform: uppercase;
}

.promo__action {
  background-image: url(../assets/Star.png);
  background-repeat: no-repeat;
  background-size: initial;
  height: 10.4rem;
  width: 10.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.promo__action__text {
  text-align: center;
  width: 5rem;
  color: white;
  font-family: var(--font);
  font-size: 1rem;

  & span {
    color: #ffe408;
    text-decoration: underline;
  }
}

.promo__longread {
  background-color: #ffe408;
  font-size: 20px;
  font-family: var(--fontTitle);
  color: black;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 0 .5rem;
  text-align: center;
  text-decoration: none;
  font-weight: var(--fontWeightAlt);
}

.product__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.product {
  background: black;
  border: solid .2rem black;
  width: 292px;
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.product__img__container {
  background-color: #f8f8f4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 149px;
}

.product__detials {
  color: white;
  margin-left: .5rem;
  margin-bottom: .5rem;
}

.product__title {
  font-size: 21px;
  font-family: var(--fontTitle);
  margin-top: .3rem;
  margin-bottom: 0;
}

.product__price {
  font-size: 16px;
  margin-top: .2rem;
  margin-bottom: 1rem;
}

.korting {
  text-decoration: line-through;
}

@media only screen and (min-width: 700px) {

  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 960px) {

  .product__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1040px) {

  .product__container {
    width: 1040px;
    margin: 0 auto;
  }
}
