.promo {
  background-color: var(--background);
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.promo__article {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.promo__article__wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.promo__tekst {
  display: none;
}

.promo__title {
  background-color: var(--button);
  font-size: var(--grotetekst);
  font-family: var(--titelfont);
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 3rem;
}

.promo__boek__title {
  text-align: center;
  font-family: var(--extra);
  font-size: 20px;
  width: 15rem;
  margin: 1rem 0;
}

.promo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  margin: 1rem 0 1.5rem;
}

.promo__info__price {
  font-weight: var(--fontWeightBold);
  font-size: var(--tekst);
}

.promo__info__slogan {
  font-size: var(--footer);
}

.promo__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 14rem;
}

.promo__carbutton {
  display: flex;
  align-items: center;
  font-weight: var(--fontWeightBold);
  padding: .5rem 1rem;
  background-color: var(--geel);
  color: black;
  border: none;
  cursor: pointer;
}

.promo__moreinfo {
  color: white;
  font-weight: var(--fontWeightBold);
  padding: .8rem 1rem;
  background-color: var(--button);
  text-transform: uppercase;
  font-family: var(--titelfont);
}

.promo__action {
  background-image: url(../assets/Star.png);
  background-repeat: no-repeat;
  height: 17rem;
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.promo__action__text {
  text-align: center;
  width: 10rem;
  color: white;
  font-family: var(--tekstfont);
  font-size: var(--grotetekst);

  & span {
    color: var(--geel);
    font-weight: var(--fontWeightBold);
  }
}

.promo__longread {
  background-color: var(--geel);
  font-size: var(--grotetekst);
  font-family: var(--titelfont);
  color: black;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.product__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 3rem;
}

.product {
  background: black;
  border: solid .2rem black;
  width: 292px;
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.product__img__container {
  background-color: #f8f8f4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 149px;
}

.product__detials {
  color: white;
  margin-left: .5rem;
  margin-bottom: .5rem;
}

.product__title {
  font-size: 21px;
  font-family: var(--fontTitle);
  margin-top: .3rem;
  margin-bottom: 0;
}

.product__price {
  font-size: 16px;
  margin-top: .2rem;
  margin-bottom: 1rem;
}

.korting {
  text-decoration: line-through;
}

.form__container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: #f8f8f4;
}

.form__submit {
  background-color: #667efe;
  border-radius: 1rem;
  border: #667efe .1rem solid;
  padding: .5rem 1rem .3rem;
  color: white;

  &:hover {
    background-color: white;
    color: #667efe;
    cursor: pointer;
  }
}

.radio + .form__toggle__button {

  &:checked {
    color: red;
    background-color: blue;
  }
}

label input[type=radio] + span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
}

input[type=radio] {
  display: none;
}

label input[type=radio]:checked + span {
  border-bottom: solid .2rem black;
}

@media only screen and (min-width: 700px) {

  .product__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form__container {
    font-size: 1.2rem;
  }

  .promo__title {
    align-self: flex-start;
    padding: 1rem;
    width: initial;
    margin-top: 3rem;
  }

  .promo__longread {
    align-self: end;
    padding: 1rem;
    width: initial;
    margin-bottom: 3rem;
  }

  label input[type=radio] + span {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {

  .promo__article__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-bottom: 3rem;
    grid-gap: 2rem;
  }

  .promo__buttons {
    grid-area: 2 / 3 / 3 / 4;
  }

  .promo__info {
    align-items: flex-start;
    flex-flow: column;
    grid-area: 2/2/3/3;
  }

  .promo__action {
    grid-area: 1/4/3/5;
    align-self: center;
    /* stylelint-disable */
      -ms-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
    /* stylelint-enable */
  }

  .promo__productfoto {
    grid-area: 1/1/3/2;
    margin-left: 3rem;
  }

  .promo__boek__title {
    text-align: initial;
    width: 100%;
  }

  .promo__text__wrapper {
    grid-area: 1/2/2/4;
    margin-right: 1rem;
  }

  .promo__tekst {
    display: block;
    font-size: var(--tekst);
  }

  .promo__moreinfo {
    font-size: var(--footer);
  }

  .promo__info__price {
    font-size: var(--grotetekst);
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 960px) {

  .product__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1040px) {

  .product__container {
    width: 104rem;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .promo__article {
    width: 104rem;
    margin: 0 auto;
  }
}
