:root {
  /*color*/
  --button: #ee090c;
  --geel: #ffe408;
  --blauw: #667efe;
  --background: #f8f8f4;
  --invoorraad: #01982b;
  /*fonts*/
  --tekstfont: news-gothic-std, roboto;
  --titelfont: acumin-pro-condensed, arial;
  --extra: arial;
  /*size*/
  --footer: 1.3rem;
  --tekst: 1.6rem;
  --meerinfo: 1.8rem;
  --grotetekst: 2rem;
  --titel: 2.4rem;
  --grotetitels: 3rem;
  /*font weight*/
  --fontWeightRegular: 400;
  --fontWeightBold: 700;
  --fontWeightBlack: 900;

  /*longread vars*/
  --lrTekst: itc-american-typewriter;
  --lrTitle: bitter, sans-serif;
  /*color*/
  --lrWhite: white;
  --lrVuur: #f15a24;
  --lrBackground: #001826;
  --lrFooter: #000b18;
  /*size*/
  --lrSmall: 1.8rem;
  --lrMedium: 3rem;
  --lrLarge: 3.6rem;
}
